
@{
    ViewData["Title"] = "Create";
}

@model NoticeVioard
<div class="container">
    <div class="card-body row">
        <h1 style="text-align:center; margin-bottom:20px;">Notice Create</h1>
        <form method="post" class="forms-sample">

            <div style="width:40%;">
                <label style="margin-bottom:10px; font-size:20px;" asp-for="@Model.Title">Title</label>
                <textarea asp-for="@Model.Title" type="text" ></textarea>
                <span class="mt-2 text text-danger" asp-validation-for="@Model.Title"></span>
            </div>


            <div class="col-md-12 mt-3">
                <a class="btn btn-dark" asp-controller="notice" asp-action="index"><i class="fas fa-undo"></i> Back</a>
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
@section Script{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>
    CKEDITOR.replace("Title")
 
    </script>
}

