@model EditAdminVm
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditAdmin</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/et-line-icon.css">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <div class="register-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="login">
                        <div class="login-form-container">
                            <div class="login-text">
                                <h2> Edit</h2>

                            </div>
                            <div class="login-form">
                                <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                                <form method="post">

                                    <input asp-for="Name" placeholder="Name">
                                    <span class="text text-danger" asp-validation-for="Name"></span>
                                    <input asp-for="SurName" placeholder="SurName">
                                    <span class="text text-danger" asp-validation-for="SurName"></span>
                                    <input asp-for="UserName" placeholder="UserName">
                                    <span class="text text-danger" asp-validation-for="UserName"></span>

                                    <input asp-for="Email" placeholder="Email">
                                    <span class="text text-danger" asp-validation-for="Email"></span>

                                    <select style="margin-bottom:10px;" asp-for="Role" class="form-select">
                                        @foreach (var a in ViewBag.Roles)
                                        {

                                            <option value="@a">@a</option>
                                        }

                                    </select>
                                    <span class=" text text-danger" asp-validation-for="Role"></span>


                                    <input asp-for="CurrentPasword" placeholder="CurrentPasword">
                                    <span class="text text-danger" asp-validation-for="CurrentPasword"></span>

                                    <input asp-for="Password" placeholder="Password">
                                    <span class="text text-danger" asp-validation-for="Password"></span>

                                    <input asp-for="ConfirmPassword" placeholder="Confirm Password">
                                    <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>


                                    <div class="button-box">


                                        <button type="submit" class="default-btn">SaveChanges</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
