@model Setting
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Logo</th>
                <th scope="col">Address</th>
                <th scope="col">InfoDesc</th>
                <th scope="col">FootorDesc</th>
                <th scope="col">Edit</th>
                
            </tr>
        </thead>
        <tbody>
          
                <tr>
                    <th scope="row"><img src="~/assets/img/logo/@Model.Logo"object-fit: contain; width: 100px; height: 30px; /></th>
                    <td>@Model.Address</td>

                    <td>@Model.InfoDescriptionTop.Substring(0, 30) ...</td>
                  
                   
                    
                        <td>@Model.FooterDedcription.Substring(0,30) ...</td>
                    
                    <td><a asp-controller="setting" asp-action="edit" asp-route-id="@Model.Id" ><i class="fas fa-edit text text-primary"></i></a></td>
                </tr>
            


        </tbody>


    </table>

</div>

